/*---------------------------------------------------*/
/*- <head><style>css-style-overrides</style></head> -*/
/*---------------------------------------------------*/
.container-fluid {
    padding-left: 10px;
    padding-right: 10px;
}

#family-title {
    /*font-family: 'Dancing Script', cursive;*/
    font-size: 2.5em;
}

.sidebar-title {
    /*font-family: 'Dancing Script', cursive;*/
    font-size: 2.5em;
}
.jquery-accordion-panel-tab {
    width: 180px;
    font-size: 1.25em;
    font-weight: bold;
    cursor: pointer;
    text-align:   center;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    margin-right: 10px;
    float: left;
}
.jquery-accordion-panel-tab-title {
    margin: 10px auto;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    font-size: 2.5em;
    text-align: center;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
  
.jquery-accordion-main-title {
    font-family: 'Dancing Script', cursive;
    font-size: 2.5em;
}

#page,
.jquery-accordion-name,
.family-name,
.sidebar,
.sidebar-title,
img,
.main-content-title,
.footer
{
    border: 1px solid black;
}

#called-to-glory {

    padding: 5px;
}

.sidebar
{
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left: none;
}
/*-------------------------------------------------------*/
/*- Set jQuery Toggle to Fade-in as Opposed to Fade-out -*/
/*-------------------------------------------------------*/
#color-schemes,
.family-name,
.main-content,
.main-content-title,
.sidebar,
footer,
#copyright-1,
#copyright-2,
#contact-email
{
    display:       none; 
}

#copyright-1
{
    width:  120px;
    margin: auto;
    font-size: 12px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

#copyright-2
{
    width:  120px;
    margin: auto;
    font-size: 12px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

#contact-name
{
    width:  170px;
    margin: auto;
    font-size: 12px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

#contact-email
{
    width:  170px;
    margin: auto;
    font-size: 12px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
/*-------------------*/
/*- Floats          -*/
/*-------------------*/
.sidebar
{
    float: left;
    padding-left:  1.5px;
    padding-right: 1.5px;
}
.main-content
{
    float: left;
    padding-left:  2.5px;
    padding-right: 2.5px;
}
.birthdate
{   
    margin-top:    13px;
    margin-left:   15px;
    margin-bottom: 0px;        
    margin-right:  0px;
    float:         left;
}
.deathdate
{
    margin-top:    13px;
    margin-right:  15px;
    margin-bottom: 0px;
    margin-left:   0px;
    float:         right;
}

.mother
{
    margin-top: 0px;
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
}

/*------------------------*/
/*- Google Font Settings -*/ 
/*------------------------*/
h1 {
    font-family: 'Sansita', sans-serif;
    font-weight: 700;
    line-height: 2.875em;
    font-size: 42px;
    }

h2 {
    font-family: 'Open Sans', sans-serif;
    text-transform: capitalize;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 2px;
    }

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: .25px;
    }

mark {
    background:#ff0;
    color:#000;
}

p,pre {          
    margin: 1em 0; 
}

/*------------------------------------*/
/*- Toggle Document Available Colors -*/ 
/*------------------------------------*/

.white-on-blue {
    float: right;
    background-color:   #0000aa;
    color:              #F5F5F5;
    text-align:         center;
    margin: 5px;
    text-align: left;
    cursor: pointer;
    list-style-type: none;
    border: 1px solid black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.black-on-pink  {
    float: right;
    background-color:   #ff1493; 
    color:              #000000;
    text-align:         center;
    margin: 5px;
    text-align: left;
    cursor: pointer;
    list-style-type: none;
    border: 1px solid black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.white-on-purple   {
    float: right;
    background-color:   #aa00aa;  
    color:              #ffffff;
    text-align:         center;
    margin: 5px;
    text-align: left;
    cursor: pointer;
    list-style-type: none;
    border: 1px solid black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.white-on-red   {
    float: right;
    background-color:   #aa0000; 
    color:              #ffffff;
    text-align:         center;
    margin: 5px;
    text-align: left;
    cursor: pointer;
    list-style-type: none;
    border: 1px solid black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
/*----------------------*/
/*- Clear Floated Rows -*/ 
/*----------------------*/
.row1,
.row2,
.row3,
.row4,
.row5,
.row6,
.row7,
.row8,
.row9,
.row10 {
margin-top: 8px;
clear: both;
}

.sidebar {
    clear: right;
}

#elizabeth-age {
    text-transform:   lowercase;
}

#sticker {
    padding-left:   0px;
}

figcaption {
    width:        150px;
    text-align:   left;
}

#adv-custom-caption {
    font-size: 16px;
    width: 225px;
    margin: 5px auto 10px auto;
    text-align: center;
}

.tributes {
    margin: 10px auto;
    font-family: 'Dancing Script', cursive;
    border: solid black 1px;
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.tribute-photo {
    width: 100px;
    height: 100px;
    margin-left:   0px;
    margin-right:  10px;
    margin-top:    0px;
    margin-bottom: 0px;
    float: left;
}
/*-------------------------------------------------------*/
/*- <html>/<head><style>Overrides</style></head></html> -*/
/*-------------------------------------------------------*/